<main class="main">
  <div class="content">
    Detalle del producto: <br>

    @if(produtData$ | async; as producto ) {

      <strong>título:</strong> {{producto.title}} <br>
      <strong>descripcion:</strong> {{producto.description}} <br>

    } @else {
      No se encontró detalle del producto.
    }

    <br>
    <input type="text" name="message" id="" [(ngModel)]="subject">
    <button (click)="updateSubject(subject)">Actualizar subject</button>

    <br>
    <h2>Subject-Message: {{this.subjectMessage$ | async}}</h2>
    <hr>
    <app-sub></app-sub>
  </div>
</main>
<router-outlet />
